html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: aquamarine;
    
}


.bar {
    box-sizing: border-box;
    background-image: url(images/cool-fancy-background-1920x1200-laptop-WTG2006339.jpg);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navheader {
    box-sizing: border-box;
    background-color: white;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: flex-start;
}

.nav {
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}

.nav > li {
    display: inline-block;
    padding-right: 25px;
    padding-top: 50px;
    
}


.nav > li > a {
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    font-style: normal;
    font-family: 'PT Serif', serif;
    vertical-align:bottom;
}

.nav > li > a:hover {
    color: darkgrey;
}

.imageslides {

    
     

}


.introduction {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-family: 'PT Serif', serif;
    justify-content: space-around;
    padding: 100px 100px 100px 100px;
    background-image: url(images/background.jpg);
    text-align: center;
}

.maintext {
    font-style: normal;
    font-family: 'PT Serif', serif;
    font-size: 100px;
    color: white;
}

.secondtext {
    font-style: normal;
    font-family: 'PT Serif', serif;
    font-size: 80px;
    color: white;
}

.abouttext {
    font-style: normal;
    font-family: 'PT Serif', serif;
    font-size: 30px;
    color: white;
}


.about {
    background-color: royalblue;
}

.images {
    background-color: yellow;
}



.links > li {
    align-content: center;
    display: inline-block;
    background-color: whitesmoke;
    text-align: left;
    padding: 25px 25px 25px 25px;
}


.links > li > a {
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-style: normal;
    float: left;
    font-family: fantasy;
}

.links > li > a:hover {
    color: darkgrey;
}


img.resize {
    height: 200px;
    width: 200px;
}

img.resize2 {
    height: 90%;
    width: 90%;
}

